<a href="https://colab.research.google.com/github/akhil-maker/Pyspark/blob/master/sparkpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b14e659e1876f4d4b66182a9b8b312a224869bfb88984c5c94e33f59e16e31ac
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pandas as pd
pd.read_csv('test.csv')

      Name  Age
0  Shubham   30
1    Rahul   25
2    Rohit   26
3    Sunny   22

Start a spark session

In [19]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [ ]:
df_pyspark = spark.read.csv('test.csv')
df_pyspark = spark.read.option('header','true').csv('test.csv')

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Shubham', Age='30'),
 Row(Name='Rahul', Age='25'),
 Row(Name='Rohit', Age='26')]

printSchema gives more info regarding columns

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

Pyspark dataframe, reading the dataset, checking the datatypes of the column (Schema), selecting the columns and indexing, check describe option similar to pandas, adding columns, dropping columns, renaming columns

In [21]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [27]:
#read the dataset
df_pyspark = spark.read.option('header','true').csv('test.csv', inferSchema=True)

inferSchema by default consiter all schema as per their data type

In [28]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [29]:
df_pyspark = spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Shubham| 30|        10|
|  Rahul| 25|         2|
|  Rohit| 26|         4|
|  Sunny| 22|         1|
+-------+---+----------+

In [31]:
print(df_pyspark.columns)
df_pyspark.head(3)

['Name', 'Age', 'Experience']

[Row(Name='Shubham', Age=30, Experience=10),
 Row(Name='Rahul', Age=25, Experience=2),
 Row(Name='Rohit', Age=26, Experience=4)]

select is used for selecting the entire column or (s) with given name(s)

In [35]:
print(df_pyspark.select('Name', 'Experience'))
df_pyspark.select('Name', 'Experience').show()

DataFrame[Name: string, Experience: int]
+-------+----------+
|   Name|Experience|
+-------+----------+
|Shubham|        10|
|  Rahul|         2|
|  Rohit|         4|
|  Sunny|         1|
+-------+----------+

In [36]:
df_pyspark['Name']

Column<'Name'>

dtypes is used to show data type of each column

In [37]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

describe option

In [39]:
print(df_pyspark.describe())
df_pyspark.describe().show()

DataFrame[summary: string, Name: string, Age: string, Experience: string]
+-------+-----+-----------------+-----------------+
|summary| Name|              Age|       Experience|
+-------+-----+-----------------+-----------------+
|  count|    4|                4|                4|
|   mean| null|            25.75|             4.25|
| stddev| null|3.304037933599835|4.031128874149275|
|    min|Rahul|               22|                1|
|    max|Sunny|               30|               10|
+-------+-----+-----------------+-----------------+

withColumn is used to add column with name and operation, drop is used to drop column by taking the name

In [42]:
### Adding columsn in dataframe
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
|Shubham| 30|        10|                      12|
|  Rahul| 25|         2|                       4|
|  Rohit| 26|         4|                       6|
|  Sunny| 22|         1|                       3|
+-------+---+----------+------------------------+

In [45]:
### Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Shubham| 30|        10|
|  Rahul| 25|         2|
|  Rohit| 26|         4|
|  Sunny| 22|         1|
+-------+---+----------+

In [46]:
### Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
| Shubham| 30|        10|
|   Rahul| 25|         2|
|   Rohit| 26|         4|
|   Sunny| 22|         1|
+--------+---+----------+