<a href="https://colab.research.google.com/github/akhil-maker/Pyspark/blob/master/sparkpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b14e659e1876f4d4b66182a9b8b312a224869bfb88984c5c94e33f59e16e31ac
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pandas as pd
pd.read_csv('test.csv')

      Name  Age
0  Shubham   30
1    Rahul   25
2    Rohit   26
3    Sunny   22

Start a spark session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [15]:
df_pyspark = spark.read.csv('test.csv')
df_pyspark = spark.read.option('header','true').csv('test.csv')

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='Shubham', Age='30'),
 Row(Name='Rahul', Age='25'),
 Row(Name='Rohit', Age='26')]

printSchema gives more info regarding columns

In [18]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)